@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
.sidenav__btn::after {
  content: '';
  display: block;
  clear: both;
}

.header__container > a, .sidenav__btn a, .sidenav__list a {
  display: block;
  text-decoration: none;
}

.header__container > a:hover, .sidenav__btn a:hover, .sidenav__list a:hover {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0 !important;
  -webkit-overflow-scrolling: touch;
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.modal-open {
  overflow: initial !important;
}

button:active,
button:focus,
area:active,
area:focus {
  outline: 0;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 50;
}

@media screen and (max-width: 1060px) {
  .header {
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__img {
  width: auto;
  height: 40px;
}

.header__img--mb {
  width: 150px;
  height: 20px;
  height: auto;
  margin: 6px 0 4px;
}

.header__text {
  display: block;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #a9a9a9;
  border-right: 1px solid #a9a9a9;
}

.header__text:hover {
  color: #c3c3c3;
}

.header__text--danger {
  color: #dd0000;
}

.header__text--danger:hover {
  color: #dd0000;
}

.header__download {
  position: relative;
  cursor: pointer;
}

.header__download:hover .header__dropdown {
  display: block;
}

.header__dropdown {
  display: none;
  position: absolute;
  left: -70px;
  bottom: -150px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  width: 150px;
}

.header__icon-list {
  margin: 0;
  padding: 0;
}

.header__icon-list li {
  display: inline-block;
  margin-bottom: 5px;
}

.header__icon-list img {
  width: 25px;
}

@media screen and (max-width: 1060px) {
  .header--pc {
    display: none !important;
  }
}

.header--mb {
  display: none;
}

@media screen and (max-width: 1060px) {
  .header--mb {
    display: block;
  }
}

.footer {
  text-align: center;
  background-color: #333333;
}

.bank-slogan {
  padding: 15px 10px;
  color: #fff;
  background-color: #333333;
}

.bank-slogan__title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 5px 20px;
  border: 1px solid #fff;
}

.bank-slogan__text {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.pchome-slogan {
  padding: 15px 10px 15px;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  background-color: #000;
}

.footer__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 15px;
}

.footer__icon-list li {
  display: inline-block;
  padding: 0 3px;
  margin-bottom: 5px;
}

.footer__icon-list img {
  width: 40px;
}

.pchome-slogan__text {
  font-size: 14px;
}

@media screen and (max-width: 575.98px) {
  .pchome-slogan__text {
    font-size: 12px;
    margin-bottom: 0;
  }
  .pchome-slogan__text span {
    display: block;
  }
  .pchome-slogan__text br {
    display: none;
  }
}

.right__box {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gotop {
  background-color: rgba(119, 119, 119, 0.8);
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transform: translateY(-30px) translateZ(0);
          transform: translateY(-30px) translateZ(0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 767.98px) {
  .gotop {
    width: 40px;
    height: 40px;
  }
}

.gotop:hover {
  background-color: #009ce1;
}

.gotop:before, .gotop:after {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  width: 40%;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
}

@media screen and (max-width: 767.98px) {
  .gotop:before, .gotop:after {
    height: 3px;
  }
}

.gotop:before {
  left: 19%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.gotop:after {
  right: 19%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.gotop.show {
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.sidenav--right {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 50;
}

.sidenav__btn {
  margin-bottom: 6px;
}

.sidenav__btn a {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #444;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav--right .sidenav__btn a {
  float: right;
}

.sidenav__btn a:hover {
  background-color: #009ce1;
}

.sidenav__btn a::before, .sidenav__btn a::after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  left: 10px;
  background-color: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav__btn a::before {
  top: 13px;
}

.sidenav--right .sidenav__btn a::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.sidenav--right.sidenav--hide .sidenav__btn a::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.sidenav__btn a::after {
  bottom: 13px;
}

.sidenav--right .sidenav__btn a::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.sidenav--right.sidenav--hide .sidenav__btn a::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.sidenav__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav__list li {
  color: #fff;
  background-color: #444;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav__list li li:not(:last-child) {
  border-bottom: 1px solid #666;
}

.sidenav__list li.sidenav__img a {
  padding: 0;
  width: 120px;
}

.sidenav__list a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
}

.sidenav--right .sidenav__list a {
  border-right: 4px solid transparent;
}

.sidenav--right .sidenav__list a:hover {
  border-color: #009ce1;
  background-color: #5e5e5e;
}

.sidenav--hide .sidenav__list {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  pointer-events: none;
  height: 0;
}

.sidenav--hide .sidenav__list .sidenav_btn {
  pointer-events: auto;
}

.sidenav__slider {
  width: 120px;
}

.sidenav__slider a {
  padding: 0;
}

@media screen and (max-width: 767.98px) {
  .sidenav__slider {
    display: none !important;
  }
}

@media screen and (max-width: 767.98px) {
  .sidenav--right {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    color: #888;
    background-color: #fff;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .sidenav--right .sidenav__btn {
    display: none;
  }
  .sidenav--right .sidenav__list {
    font-size: 0;
    white-space: nowrap;
    color: #777;
    background: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sidenav--right .sidenav__list li {
    display: inline-block;
    font-size: 16px;
    padding: 4px 0 6px;
    line-height: 1;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: none !important;
  }
  .sidenav--right .sidenav__list li:not(:first-child) a {
    border-left: 1px solid #888;
  }
  .sidenav--right .sidenav__list li.sidenav__img {
    display: none;
  }
  .sidenav--right .sidenav__list a {
    padding: 0 15px;
    color: #888;
    border: none;
  }
  .sidenav--right .sidenav__list a:hover, .sidenav--right .sidenav__list a:active {
    background-color: transparent;
  }
  .sidenav--right.fixed {
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 50;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main {
  height: 100vh;
  background: #88d6df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .main {
    height: 100%;
  }
}

.game_box {
  width: 450px;
  height: 700px;
  margin: auto;
  background-image: url(../../img/main_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .game_box {
    width: 100%;
    height: 100%;
    position: fixed;
  }
}

.game_box .discount {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.game_box .discount a {
  text-align: center;
}

.game_box .discount img {
  width: 70%;
  pointer-events: none;
}

.game_box .game_content {
  width: 100%;
  position: relative;
}

.game_box .game_content .game_title {
  margin: 0 50px;
  pointer-events: none;
}

.game_box .game_content .game_text {
  width: 100%;
  text-align: center;
}

.game_box .game_content .game_text p {
  display: inline-block;
  border: 3px solid #82d5dd;
  background: rgba(248, 254, 255, 0.8);
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px;
  font-size: 1.5rem;
}

@media screen and (max-width: 530px) {
  .game_box .game_content .game_text p {
    font-size: 5.5vw;
    padding: 2vw 3vw;
  }
}

.game_box .game_content .game_main {
  position: relative;
  height: 100%;
}

.game_box .game_content .game_main .egg {
  position: absolute;
  top: 6%;
  left: 32%;
  width: 37%;
  height: 71%;
  background-image: url(../../img/item.png);
  background-repeat: no-repeat;
  background-size: 300%;
  background-position-x: 0;
  z-index: 10;
}

.game_box .game_content .game_main .tool {
  position: absolute;
  top: -11%;
  right: 12%;
  width: 24%;
  z-index: 1;
  pointer-events: none;
}

.game_box .game_content .game_main .egg_egg {
  width: 10%;
  position: absolute;
  right: 33%;
  top: 6%;
  opacity: 0;
}

.game_box .game_content .game_main .ghost {
  position: absolute;
  left: 9%;
  bottom: 13%;
  pointer-events: none;
}

.game_box .game_content .game_main .chip1 {
  width: 25%;
  position: absolute;
  left: 13%;
  bottom: 15%;
  -webkit-transform: translate(50px, -100px) rotate(45deg);
          transform: translate(50px, -100px) rotate(45deg);
}

.game_box .game_content .game_main .chip2 {
  width: 16%;
  position: absolute;
  left: 20%;
  bottom: 11%;
  -webkit-transform: translate(30px, -100px) rotate(45deg);
          transform: translate(30px, -100px) rotate(45deg);
}

.game_box .game_content .game_main .chip3 {
  width: 27%;
  position: absolute;
  left: 30%;
  bottom: 16%;
  -webkit-transform: translate(0px, -100px);
          transform: translate(0px, -100px);
}

.game_box .game_content .game_main .chip4 {
  width: 25%;
  position: absolute;
  left: 51%;
  bottom: 17%;
  z-index: 2;
  -webkit-transform: translate(-20px, -100px);
          transform: translate(-20px, -100px);
}

.game_box .game_content .game_main .chip5 {
  width: 20%;
  position: absolute;
  left: 64%;
  bottom: 23%;
  z-index: 1;
  -webkit-transform: translate(-50px, -100px) rotate(45deg);
          transform: translate(-50px, -100px) rotate(45deg);
}

.game_box .game_content .game_main .chip {
  -webkit-transition: 0.3;
  transition: 0.3;
  opacity: 0;
  pointer-events: none;
}

.game_box .game_content .game_main .mat {
  pointer-events: none;
}

.game_box .game_content .schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
  margin-top: 20px;
  position: relative;
}

.game_box .game_content .schedule .schedule_left {
  width: 100%;
  height: 30px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#ffabac), to(#ff5453));
  background: linear-gradient(90deg, #ffabac, #ff5453);
  border-radius: 20px;
  position: relative;
}

.game_box .game_content .schedule .schedule_left .schedule_fff {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.game_box .game_content .schedule .schedule_right {
  width: 15%;
  margin-left: 6px;
  pointer-events: none;
}

.game_box .game_content .schedule .light {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  pointer-events: none;
}

@media screen and (max-width: 767.98px) {
  .pc {
    display: none;
  }
}

.mb {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .mb {
    display: block;
  }
}

.wrap.addPadding {
  padding-top: 26px;
}

body,
div,
span,
h1,
p,
a,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

.inset {
  text-align: center;
}

.inset a {
  color: #06c;
  font: 11px/20px normal;
}

.logotype a {
  display: block;
  width: 186px;
  height: 60px;
  text-indent: -9999px;
}

#HEADER .logotype a {
  background: url(//a.ecimg.tw/img/activity/v1/header/logo_h24.gif);
}

#HEADER {
  position: relative;
  height: 60px;
  width: 930px;
  margin: 0 auto;
  margin-bottom: 6px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  background: url(//a.ecimg.tw/img/activity/v1/header/header_bg.gif) repeat-x;
}

#HEADER a {
  display: block;
  position: absolute;
}

#HEADER .site_roadsign {
  width: 68px;
  height: 65px;
  left: 186px;
  top: 0;
  text-indent: -9999px;
  background: url(//a.ecimg.tw/img/activity/v1/header/site_roadsign.gif);
}

#HEADER .site_ad {
  left: 312px;
  top: 16px;
  border: 1px solid #ddd;
}

#FOOTER {
  margin: 10px 0 20px;
  color: #777;
  font: 13px/1.5 Verdana;
  text-align: center;
}

#FOOTER a {
  color: #333;
  font: 13px/1.5 Verdana;
}

#FOOTER span {
  margin: 0 4px;
  color: #999;
  font: 12px/1.5 Verdana;
}

#GLOBALWRAPPER,
#WRAPPER {
  margin: 0 auto;
}

#GLOBALWRAPPER {
  overflow: hidden;
  margin-bottom: 7px;
}
/*# sourceMappingURL=all.css.map */